/* Заголовок и подзаголовок */
.intro-title {
  color: #e4fbff;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 50px;
  letter-spacing: -0.96px;
  margin: 8px 0 8px;
}

.intro-description {
  width: 283px;
  color: #e4fbff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.09px;
  margin: 0;
}

@media (min-width: 770px) {
  .intro-description {
    width: 453px;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.192px;
  }
}

@media (min-width: 1024px) {
  .intro-title {
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1.29px;
  }
  .intro-description {
    width: 603px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.256px;
  }
}

@media (min-width: 1366px) {
  .intro-title {
    font-size: 124px;
    line-height: 128px;
    letter-spacing: -3.1px;
  }
  .intro-description {
    width: 745px;
    font-size: 40px;
    line-height: 44px;
    letter-spacing: -0.6px;
  }
}

/* Форма */

.registration-form {
  display: flex;
  width: 300px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  border-radius: 16px;
  background-color: #1e242a;
  margin: 96px 0 20px;
}

.form-info {
  display: flex;
  justify-content: flex-start;
}

.form-info img {
  margin-top: 16px;
  margin-right: 8px;
}

.form-input,
.form-select {
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 16px;
  justify-content: center;
  border-radius: 8px;
  background: #394650;
  border: 0;
  color: rgba(194, 245, 255, 0.75);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18.943px;
  letter-spacing: -0.036px;
  appearance: none;
}

.input-phone {
  position: relative;
  width: 100%;
}

.input-phone-label {
  position: absolute;
  right: 13px;
  top: 13px;
}

.form-input::placeholder {
  color: rgba(194, 245, 255, 0.5);
}

.form-button {
  border-radius: 10px;
  border: 0;
  background-color: #ff7775;
  margin-top: 8px;
  color: #fff;
  width: 100%;
  height: 48px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.314px;
}

@media (min-width: 770px) {
  .registration-form {
    width: 280px;
    padding: 20px;
    margin: 24px 0 32px;
  }
  .form-input,
  .form-select {
    font-size: 16px;
    line-height: 18.943px;
    letter-spacing: -0.036px;
    padding: 14px 16px 15px;
  }
}

@media (min-width: 1024px) {
  .registration-form {
    width: 300px;
    padding: 16px 20px;
    margin: 32px 0 32px;
  }
  .form-input,
  .form-select {
    font-size: 16px;
    line-height: 18.943px;
    letter-spacing: -0.036px;
  }
}

@media (min-width: 1366px) {
  .registration-form {
    width: 432px;
    padding: 34px 36px 30px;
    margin: 32px 0 36px;
  }
  .form-input,
  .form-select {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.1px;
    padding: 13px 20px 15px;
  }
}

.info-after-form a {
  color: rgba(255, 255, 255, 0.24);
}

.info-after-form {
  color: rgba(255, 255, 255, 0.24);
}

/* Бенефиты */

.intro-benefits {
  display: flex;
  width: 300px;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0px;
  border-radius: 16px;
  background: #1e242a;
  color: #e4fbff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.048px;
}

.intro-benefit {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 0 20px;
}

.intro-benefit img {
  height: 16px;
  display: inline-block;
  margin-top: 18px;
  margin-right: 8px;
}

@media (min-width: 770px) {
  .intro-benefits {
    width: 672px;
    padding: 24px 20px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .intro-benefit {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.09px;
  }
  .intro-benefit img {
    height: 24px;
  }
}

@media (min-width: 1024px) {
  .intro-benefits {
    width: 940px;
    padding: 36px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 24px;
  }
  .intro-benefit {
    letter-spacing: -0.054px;
  }
}

@media (min-width: 1366px) {
  .intro-benefits {
    width: 1160px;
    padding: 48px 60px;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
  }
  .intro-benefit {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.12px;
  }
}

/* Фоновое изображение */

.intro-form {
  background-image: url(../img/Fish-320px.webp), url(../img/Bat-320px.webp);
  background-repeat: no-repeat;
  background-position: top 254px right calc((100vw / 2) - 160px),
    top 43px right calc((100vw / 2) - 160px);
}

@media (min-resolution: 2x) {
  .intro-form {
    background-image: url(../img/Fish-320px@2x.webp),
      url(../img/Bat-320px@2x.webp);
    background-size: 320px 422px, 274px 486px;
  }
}

@media (min-width: 770px) {
  .intro-form {
    background-image: url(../img/Fish-but-770px.webp);
    background-repeat: no-repeat;
    background-size: 520px 671px;
    background-position: top 134px right calc((100vw / 2) - 385px);
  }
  @media (min-resolution: 2x) {
    .intro-form {
      background-image: url(../img/Fish-but-770px@2x.webp);
      background-size: 520px 671px;
    }
  }
}

@media (min-width: 1024px) {
  .intro-form {
    background-image: url(../img/Fish-1024px.webp),
      url(../img/Bat-1024px@2x.webp);
    background-size: 616px 545px, 706px 663px;
    /* сто процентов видимости / 2 - середина и минус половина контейнера - чтоб найти крайнюю правую точку контейнера */
    background-position: top 354px right calc((100vw / 2) - 512px),
      top 143px right calc((100vw / 2) - 512px);
  }
  @media (min-resolution: 2x) {
    .intro-form {
      background-image: url(../img/Fish-1024px@2x.webp),
        url(../img/Bat-1024px@2x.webp);
      background-size: 616px 545px, 706px 663px;
    }
  }
}

@media (min-width: 1366px) {
  .intro-form {
    background-image: url(../img/Fish-1366px.webp), url(../img/Bat-1366px.webp);
    background-size: 774px 659px, 909px 848px;
    background-position: top 354px right calc((100vw / 2) - 683px),
      top 143px right calc((100vw / 2) - 683px);
  }
  @media (min-resolution: 2x) {
    .intro-form {
      background-image: url(../img/Fish-1366px@2x.webp),
        url(../img/Bat-1366px@2x.webp);
      background-size: 774px 659px, 909px 848px;
    }
  }
}
