/* Заголовок и тексты */

.raids-title {
  width: 300px;
  color: #e4fbff;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.96px;
  margin-bottom: 24px;
}

.raids-description {
  width: 300px;
  color: #e4fbff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.09px;
}

.raids-info-text {
  display: flex;
  align-self: stretch;
  color: rgba(255, 255, 255, 0.64);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.048px;
  margin: 0px;
}

@media (min-width: 770px) {
  .raids-title {
    width: 583px;
  }
  .raids-description {
    width: 265px;
    margin-bottom: 84px;
  }
}

@media (min-width: 1024px) {
  .raids-title {
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1.29px;
    margin-bottom: 42px;
  }
  .raids-description {
    width: 454px;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.256px;
    margin-bottom: 42px;
  }
  .raids-info-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: -0.054px;
  }
}

@media (min-width: 1366px) {
  .raids-title {
    width: 830px;
    font-size: 124px;
    line-height: 128px;
    letter-spacing: -3.1px;
    margin-bottom: 61px;
  }
  .raids-description {
    width: 568px;
    margin-bottom: 60px;
  }
  .raids-info-text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.12px;
  }
}

/* Квадратный блок с информацией */

.raids-info {
  width: 300px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  border-radius: 16px;
  background-color: #1e242a;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.25) inset;
  margin-bottom: 46px;
}

.raids-info-button {
  width: 268px;
  height: 48px;
  border-radius: 8px;
  background-color: #fc7777;
  border: 0px;
  color: #fff;
  text-align: center;
}
.raids-info-button p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.048px;
  margin: 0px;
}

.raids-info-icon {
  display: none;
  margin: 0px;
}

@media (min-width: 770px) {
  .raids-info {
    position: absolute;
    right: 50px;
    top: 75px;
    width: 382px;
    height: 220px;
    border-radius: 32px;
    margin-bottom: 21px;
  }
  .raids-info-button {
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 9.556px;
    padding: 0px;
    padding-left: 8px;
  }
  .raids-info-button p {
    /* font-size: 18px;  не влезает в строку */
    line-height: 24px;
    letter-spacing: -0.054px;
  }
  .raids-info-icon {
    display: initial;
    height: 32px;
  }
}

@media (min-width: 1024px) {
  .raids-info {
    width: 460px;
    height: 252px;
    right: 47px;
    top: 127px;
    margin-bottom: 70px;
  }
}

@media (min-width: 1366px) {
  .raids-info {
    width: 568px;
    height: 321px;
    right: 105px;
    top: 150px;
    margin-bottom: 26px;
  }
  .raids-info-button {
    display: inline-flex;
    padding: 12px 16px;
    align-items: center;
    gap: 12px;
    font-size: 24px;
    line-height: 31.853px;
    letter-spacing: -0.192px;
    height: 66px;
    width: 396px;
  }
  .raids-info-button p {
    font-size: 24px;
  }
  .raids-info-icon {
    height: 42px;
  }
}

/* Изображения боссов */

.raids-bosses {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 18px;
}

.raids-boss {
}
