/* Контейнер и колонки */

.steps {
  display: flex;
  overflow: auto;
  padding-left: calc((100vw - 315px) / 2);
  /* убрать скроллбар */
  scrollbar-width: none;
}
/* убрать скроллбар */
.steps::-webkit-scrollbar {
  display: none;
}

@media (min-width: 770px) {
  .steps {
    padding-left: calc((100vw - 690px) / 2);
  }
}

@media (min-width: 1024px) {
  .steps {
    width: 1024px;
    padding: 0 42px;
    overflow: initial;
    margin: 0 auto;
  }
}

@media (min-width: 1366px) {
  .steps {
    width: 1366px;
    padding: 0 103px;
  }
}

.steps-container {
  background-color: #394650;
  position: relative;
  display: flex;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.25) inset;
  border-radius: 16px;
  margin-top: 36px;
  margin-bottom: 27px;
  padding-top: 45px;
  padding-bottom: 29px;
}

.steps-columns {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.steps-column {
  /* width: 33.3%; */
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  /* row vs column */
  align-items: stretch;
}

.steps-column:first-child {
  align-items: flex-end;
}

@media (min-width: 770px) {
  .steps-container {
    margin-top: 48px;
    margin-bottom: 23px;
  }
  .steps-columns {
  }
  .steps-column {
  }
}

@media (min-width: 1024px) {
  .steps-container {
    border-radius: 32px;
    margin-top: 76px;
    margin-bottom: 48px;
    overflow: initial;
    display: block;
    width: 100%;
    padding: 28px;
  }
  .steps-columns {
    justify-content: space-between;
  }
  .steps-column {
    flex-direction: column;
    justify-content: flex-end;
  }
}

@media (min-width: 1366px) {
  .steps-container {
    border-radius: 32px;
    margin-top: 84px;
    margin-bottom: 48px;
  }
  .steps-columns {
  }
  .steps-column {
  }
}

/* Шаги и заголовок */

.step {
  margin: 16px;
  border-radius: 16px;
  background-color: #282f37;
  padding: 24px;
  gap: 10px;
  width: 262px;
  z-index: 2;
}

.main-step {
  background-color: #fc7777;
  height: 96px;
}

.steps-title {
  text-align: left;
  position: relative;
  z-index: 2;

  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: -0.96px;

  position: absolute;
  left: 16px;
  top: 36px;
  margin: 0;
  width: 230px;
}

.step-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.09px;
  color: #e4fbff;
  margin-top: 0;
}

.step-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.09px;
  color: rgba(255, 255, 255, 0.64);
  margin-bottom: 0;
}

@media (min-width: 770px) {
  .step {
  }
  .steps-title {
    font-size: 48px;
    line-height: 50px;
    letter-spacing: -0.96px;
  }
}

@media (min-width: 1024px) {
  .step {
    margin: 24px 0 0 0;
    border-radius: 24px;
    padding: 32px;
    gap: 10px;
    z-index: 1;
    width: 279px;
  }
  .steps-title {
    padding: 25px;
    display: block;
    text-align: center;
    font-size: 86px;
    line-height: 88px;
    letter-spacing: -1.29px;
    position: relative;
    width: 100%;
    z-index: 2;
    left: initial;
    top: initial;
  }
  .step-title {
    letter-spacing: -0.054px;
  }
  .step-text {
    letter-spacing: -0.054px;
  }
  .main-step {
    height: initial;
  }
}

@media (min-width: 1366px) {
  .step {
    width: 354px;
  }
  .steps-title {
    font-size: 124px;
    line-height: 128px;
    letter-spacing: -3.1px;
  }
  .step-title {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.12px;
  }
  .step-text {
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.12px;
  }
}

/* Изображение кубка */

.steps-image-cup {
  position: absolute;
  top: -66px;
  left: 46px;
}

.steps-image-handle {
}

@media (min-width: 770px) {
  .steps-image-cup {
    top: -83px;
    left: 19px;
  }
  .steps-image-handle {
  }
}

@media (min-width: 1024px) {
  .steps-image-cup {
    left: 95px;
    top: -165px;
  }
  .steps-image-handle {
    position: absolute;
    left: 555px;
    top: -25px;
    z-index: 3;
  }
}

@media (min-width: 1366px) {
  .steps-image-cup {
  }
  .steps-image-handle {
  }
}
